/** Button Mixin **/

@mixin button($button-text-color: #000, $button-border-color: #000, $button-background-color: transparent) {
	padding: .8em 2em;
	border: 1px solid $button-border-color;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80%;
	color: $button-text-color;
	letter-spacing: 1px;
	background-color: $button-background-color;
	transition: background-color .5s, color .5s;
	
	&:hover, &:active, &:focus {
		text-decoration: none;
		background-color: $button-text-color;
		@if $button-background-color == transparent and $button-text-color != #fff { color: #fff; }
		@else if $button-background-color == transparent and $button-text-color == #fff {color: #000; }
		@else { color: $button-background-color; }
		border-color: $button-background-color;
	}
	&:visited {
		text-decoration: none;
	}
}


/** Banner Mixin **/

@mixin banner($image){
	background: url('../images/#{$image}') center;
	background-size: cover;
	height: 600px;
	position: absolute;
	top: 0;
	width: 100%;
}